.usernotify{
    color: black;
    background-color: #ff8585;
    width: fit-content;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    position: absolute;
    right: 0em;
    top: 50%; 
}